/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: top;
  background-size: cover;
  height: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 0 !important;
  padding: 100px 5%;

  @include tablet {
/*    height: 500px; */
  }

  &-title {
    max-width: 610px;
  }

  &-blocks {
    max-width: 610px;

    &-item {

      &-link {
        color: $brand_text_color;
        font-weight: bold;
      }
    }
  }

    &-inner {
      color: $brand_text_color;
      transform: none;
      height: fit-content;
      text-align: left;

      &-bottom {
        color: $brand_text_color;
        transform: none;
        height: fit-content;
        text-align: left;
        padding: 100px 5%;
      }
  }

  &-bottom {
    margin-bottom: -60px !important;
    background-color: $background_color;
    background-image: none;
    height: auto;
    padding: 100px 5%;

    @include tablet {
      background-position: top;
      background-repeat: no-repeat;
    }

  }

  &-article {
   .hero-blocks-item-link {
     color: $brand_text_color;
     font-weight: bold;
     border: 1px solid $brand_text_color;
     padding: 20px;
     margin: 10px 0;
     display: inline-block;
   }
  }
}
