/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 5%;
  text-align: center;
  width: 100%;
  margin-bottom: 0 !important;

  @include tablet {
    height: 500px;
  }

    &-inner {
    @include vertical-align;
    /* max-width: 610px; */
    margin: 0 auto;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;

      &-bottom {
        max-width: 610px;
        color: $brand_text_color;
        transform: none;
        height: fit-content;
        text-align: left;
      }
  }

  &-bottom {
    margin-bottom: -60px !important;
    background-color: $background_dark;
    background-image: none;
    height: auto;
    padding: 100px 5%;

    @include tablet {
      background-image: url(https://facebook.com/business/f/639471173616746);
      background-position: top;
      background-repeat: no-repeat;
    }

  }
}
